# python
*.venv/
*venv/
venv/
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache
.idea/
datasets/

# datasets
datasets/ingeniia_services_credit_scoring_csv_german_credit_risk_v1.0.0_training_20250825
datasets/ingeniia_services_xrays_evaluation_img_v1.0.0_training_20251121
datasets/ingeniia_services_xrays_evaluation_img_v1.0.0_test_20251130
datasets/ingeniia_services_smart_checkout_img_v1.0.0_training_20260120